name: deploy
on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs: 
  deploy:
    name: deploy 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: ssh connection 
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY}}
          script_path: ".github/scripts/main.sh"